@font-face {
    font-family: 'edu';
    src: url("/puzzels/fonts/EduAUVICWANTGuides-Regular.ttf");
} 

@font-face {
    font-family: 'edum';
    src: url("/puzzels/fonts/EduAUVICWANTGuides-Medium.ttf");
} 


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    overflow: hidden;
    position: relative;
    background-color: rgb(189, 189, 189);
}

header{
    width: 100vw;
    height: 12%;
    display: flex;
    position: absolute;
    bottom: 0;
}

a{
    text-decoration: none;
    font-family: 'edum';
    color: rgb(0, 0, 0);
    text-align: end;
    width: 100vw;
    padding-right: 13%;
}

.Art table{
    border-collapse: collapse;
    width: 600px;
    height: 610px;
}

#red{ 
    background: linear-gradient(49deg, rgba(255,0,0,1) 0%, rgba(219,0,0,1) 47%, rgba(255,51,51,1) 56%, rgba(255,5,5,1) 60%, rgba(255,5,5,1) 100%);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

.red{
    background-color: red;
}


.yellow{ 
    background-color: rgb(255, 230, 0); 
}

.blue{
     background-color: rgb(16, 0, 160); 
    }

.black{
    background-color: black;
}

td{
    border: 9px solid black;
    background-color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0);
}

.Table01{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Table01 table{
    width: 75%;
    background-color: black;
}

.Table01 td{
    border: 0px solid black;
}

.Table02{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Table02 table{
    width: 90%;
    height: 350px;
    background-color: black;
}

.Table02 td{
    border: 0px solid black;
}

.tableInside{
    margin: 50px;
}

@keyframes gradient {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}





